[Desktop Entry]
Type=Application
Name=Menu Karan
Comment=Securely create and manage desktop files
Keywords=Desktop;Security;AppMenu;Menu;Shortcut;Launch;
Exec=menukaran %U
Icon=${SNAP}/meta/gui/com.soumyaDghosh.menukaran.svg
Terminal=false
Categories=Utility;Flutter;
StartupWMClass=musicpod
